.checkout-container {
  padding: 20px;
  max-width: 500px;
  margin: auto;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.checkout-form input,
.checkout-form textarea,
.checkout-form select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.confirm-btn {
  margin-top: 15px;
  padding: 12px;
  background: #ff5722;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

/*back button*/
.back-btn {
  background: #ddd;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 15px;
  font-size: 14px;
}

.back-btn:hover {
  background: #ccc;
}